
div img {
  width: 400px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto auto auto ;
    background-image: linear-gradient(#3b2a9f, #bac2df);
    gap: 20px 20px;
}
.col-2 {
   grid-column: span 5;
}
  .col-3{
    grid-column: span 3;
  }
 .col-1{
  grid-column: span 10;
 }
 .card {
  padding: 10px;
  border-radius: 20px;
  background-color: #1C140F;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 14px;
 }