.contant{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contant .projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contant .info{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contant .info .path{
    display: flex;
}
.contant .info .path p{
    margin: 0;
    margin-left: 3px;
    color: orange;
}
.contant .info .path a{
    margin: 0;
    margin-right: 5px;
    color: white;
    text-decoration: none;
}
.contant .card{
    margin-top: 20px;
    background-color: black;
    height: 160px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card .info{
    width: 25%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card .info .image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .info .image img{
    width: 50%;
    height: 50%;
}
.card .info p{
    margin: 0;
}
.card .info h3{
    margin-top: 0;
    margin-bottom: 5px;
}
.vl{
    height: 60%;
    border-right: solid white 2px;
}
.card-section{
    margin-top: 140px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.card-section .video{
    width: 45%;
}
.card-section .video img{
    width: 100%;
}
.card-section .cont{
    width: 40%;
}
.card-section .cont .item{
    display: flex;
    margin-bottom: 15px;
}
.card-section .cont .item p{
    margin: 0;
    color: #999;
}
.card-section .cont .item img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
button{
    border: none;
    background-color: rgb(203, 134, 5);
    color: white;
    width: 120px;
    height: 35px;
}
.dd{
    margin-bottom: 40px;
}
.card-section .img{
    height: 100%;
}
.card-section .img img{
    height: 350px;
}
.card-section .cont1{
    width: 40%;
}


.show{
    margin-top: 50px;
    padding-top: 50px;
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show .text h1, .show .text p{
    text-align: center;
}
.card2{
    width: 25%;
    height: 200px;
    border: solid 2px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card2 .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.card2 .head .avater{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.card2 .head .avater img{
    width: 40px;
    height: 40px;
}
.card2 p{
    color: #999;
}
.card2 p,.card2 h3{
    margin: 0;
}
.card2 .comment{
    color: white;
    width: 80%;
}
#chosen{
    border-color: orange;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.arrows{
    display: flex;
    width: 70%;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}
.arrows .arrow{
    display: flex;
}
.arrows .arrow .left{
    border: solid orange 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.arrows .arrow .right{
    border: solid orange 2px;
    margin-left: 20px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.arrows .pages{
    display: flex;
}
.arrows .pages .choss{
    margin-right: 10px;
    background-color: orange;
    width: 50px;
    height: 20px;
    border-radius: 40px;
}
.arrows .pages .point{
    margin-right: 10px;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}